dollar_exchange_project/.env
dollar_exchange_project/dollar-venv/
youtube_data_project/.env
youtube_data_project/yt-venv/
youtube_data_project/data/
todo_cli_project/database.json
todo_cli_project/__pycache__/
dbt_test_project/dbt-venv/
